# Server
server:
  port: 8002

spring:
  # SECRET
  profiles:
    active: dev
  # MYSQL
  datasource:
    url: ${url}
    username: ${adminname}
    password: ${password}
    driver-class-name: ${driver-class-name}
  # JPA
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        use_sql_comments: true
  # 404 Error
  mvc:
    throw-exception-if-no-handler-found: true
  web:
    resources:
      add-mappings: false

  #### h2
  h2:
    console:
      enabled: ${h2}

  ## Spring Security
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${google-client-id}
            client-secret: ${google-client-secret}
            scope:
              - ${google-client-scope1}
              - ${google-client-scope2}


# LOGGING
logging:
  level:
    org:
      hibernate:
        type:
          descriptor:
            sql: trace
    root: INFO
    com.eventty.authservice: ${level}


## SERVER BASE URL
server.base.url.user_server: ${user-server-url}

## Token
token.access-expired-time: ${token-access}
token.refresh-expired-time: ${token-refresh}
token.issuer: ${issuer}
token.secret_key: ${secret-key}