<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eventty.businessservice.domain.repository.EventDetailRepository">

    <resultMap id="EventDetailResultMap" type="com.eventty.businessservice.domain.entity.EventDetailEntity">
        <id property="id" column="id"/>
        <result property="content" column="content"/>
        <result property="applyStartAt" column="apply_start_at"/>
        <result property="applyEndAt" column="apply_end_at"/>
        <result property="views" column="views"/>
        <result property="deleteDate" column="delete_date"/>
        <result property="updateDate" column="update_date"/>
        <result property="createDate" column="create_date"/>
    </resultMap>

    <select id="selectEventDetailById" resultMap="EventDetailResultMap" parameterType="java.lang.Long">
        SELECT * FROM event_details WHERE ID = #{id}
    </select>

    <!-- 이벤트 상세정보 생성 -->
    <insert id="insertEventDetail" parameterType="com.eventty.businessservice.domain.entity.EventDetailEntity">
        INSERT INTO event_details (id, content, apply_start_at, apply_end_at, create_date)
        VALUES (#{id}, #{content}, #{applyStartAt}, #{applyEndAt}, current_timestamp)
    </insert>

    <!--이벤트 상세정보 삭제-->
    <update id="deleteEventDetail" parameterType="java.lang.Long" useGeneratedKeys="true" keyColumn="id">
        UPDATE event_details
        SET delete_date = current_timestamp -- 현재 시간으로 업데이트
        WHERE id = #{id}
    </update>

</mapper>
