<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eventty.businessservice.domain.repository.EventRepository">

    <resultMap id="EventResultMap" type="com.eventty.businessservice.domain.entity.EventEntity">
        <id property="id" column="id"/>
        <result property="hostId" column="host_id"/>
        <result property="title" column="title"/>
        <result property="image" column="image"/>
        <result property="eventStartAt" column="event_start_at"/>
        <result property="eventEndAt" column="event_end_at"/>
        <result property="participateNum" column="participate_num"/>
        <result property="location" column="location"/>
        <result property="category" column="category"/>
        <result property="isActive" column="is_active"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>

    <resultMap id="EventResultMapWithDetail" type="com.eventty.businessservice.domain.EventWithDetailDTO">
        <id property="id" column="id"/>
        <result property="hostId" column="host_id"/>
        <result property="title" column="title"/>
        <result property="image" column="image"/>
        <result property="eventStartAt" column="event_start_at"/>
        <result property="eventEndAt" column="event_end_at"/>
        <result property="participateNum" column="participate_num"/>
        <result property="location" column="location"/>
        <result property="category" column="category"/>
        <result property="isActive" column="is_active"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="content" column="content"/>
        <result property="applyStartAt" column="apply_start_at"/>
        <result property="applyEndAt" column="apply_end_at"/>
        <result property="views" column="views"/>
        <result property="delete_date" column="delete_date"/>
        <result property="update_date" column="update_date"/>
        <result property="create_date" column="create_date"/>
        <result property="categoryName" column="category_name"/>
    </resultMap>

    <!--특정 이벤트 조회-->
    <select id="selectEventById" resultMap="EventResultMap" parameterType="java.lang.Long">
        SELECT * FROM events
        WHERE ID = #{id} AND is_deleted = false
    </select>

    <!--전체 이벤트 조회-->
    <select id="selectAllEvents" resultMap="EventResultMap" parameterType="java.lang.Long">
        SELECT * FROM events
        WHERE is_deleted = false
    </select>

    <!--이벤트 일반+상세정보 조회-->
    <select id="selectEventWithDetailById" resultMap="EventResultMapWithDetail" parameterType="java.lang.Long">
        SELECT
            e.id,
            e.host_id,
            e.title,
            e.image,
            e.event_start_at,
            e.event_end_at,
            e.participate_num,
            e.location,
            e.category,
            e.is_active,
            e.is_deleted,
            ed.content,
            ed.apply_start_at,
            ed.apply_end_at,
            ed.views,
            ed.delete_date,
            ed.update_date,
            ed.create_date,
            c.name AS category_name
        FROM events e
            INNER JOIN event_details ed ON e.id = ed.id
            INNER JOIN categories c ON e.category = c.id
        WHERE e.id = #{id} AND is_deleted = false
    </select>

    <!-- 이벤트 생성 -->
    <insert id="insertEvent" parameterType="com.eventty.businessservice.domain.entity.EventEntity" useGeneratedKeys="true" keyColumn="id">
        INSERT INTO events (host_id, title, image, event_start_at, event_end_at, participate_num, location, category, is_active, is_deleted)
        VALUES (#{hostId}, #{title}, #{image}, #{eventStartAt}, #{eventEndAt}, #{participateNum}, #{location}, #{category}, #{isActive}, #{isDeleted})
    </insert>

    <!-- 이벤트 수정 -->
    <update id="updateEvent" parameterType="com.eventty.businessservice.domain.entity.EventEntity">
        UPDATE events
        SET
            title = #{title},
            image = #{image},
            category = #{category}
        WHERE id = #{id}
    </update>

    <!--이벤트 정보 삭제-->
    <update id="deleteEvent" parameterType="java.lang.Long" useGeneratedKeys="true" keyColumn="id">
        UPDATE events
        SET is_deleted = true
        WHERE id = #{id}
    </update>

    <!--카테고리 별 이벤트 조회-->
    <select id="selectEventsByCategory" resultMap="EventResultMap" parameterType="java.lang.Long">
        SELECT *
        FROM events e
             INNER JOIN categories c ON e.category = c.id
        WHERE is_deleted = false
        AND c.id = #{categoryId}
    </select>

</mapper>