<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eventty.businessservice.domain.repository.EventRepository">

    <resultMap id="EventResultMap" type="com.eventty.businessservice.domain.entity.EventEntity">
        <id property="id" column="id"/>
        <result property="hostId" column="host_id"/>
        <result property="title" column="title"/>
        <result property="image" column="image"/>
        <result property="eventStartAt" column="event_start_at"/>
        <result property="eventEndAt" column="event_end_at"/>
        <result property="participateNum" column="participate_num"/>
        <result property="location" column="location"/>
        <result property="category" column="category"/>
        <result property="isActive" column="is_active"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>

    <resultMap id="EventResultMapWithDetail" type="com.eventty.businessservice.domain.EventWithDetailDAO">
        <id property="id" column="id"/>
        <result property="hostId" column="host_id"/>
        <result property="title" column="title"/>
        <result property="image" column="image"/>
        <result property="eventStartAt" column="event_start_at"/>
        <result property="eventEndAt" column="event_end_at"/>
        <result property="participateNum" column="participate_num"/>
        <result property="location" column="location"/>
        <result property="category" column="category"/>
        <result property="isActive" column="is_active"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="content" column="content"/>
        <result property="applyStartAt" column="apply_start_at"/>
        <result property="applyEndAt" column="apply_end_at"/>
        <result property="views" column="views"/>
        <result property="delete_date" column="delete_date"/>
        <result property="update_date" column="update_date"/>
        <result property="create_date" column="create_date"/>
    </resultMap>

    <!--이벤트 일반정보 조회-->
    <select id="selectEventById" resultMap="EventResultMap" parameterType="java.lang.Long">
        SELECT * FROM events WHERE ID = #{id}
    </select>

    <!--이벤트 상세정보 조회-->
    <select id="selectAllEvents" resultMap="EventResultMap" parameterType="java.lang.Long">
        SELECT * FROM events
    </select>

    <!--이벤트 일반+상세정보 조회-->
    <select id="selectEventWithDetailById" resultMap="EventResultMapWithDetail" parameterType="java.lang.Long">
        SELECT e.*, ed.*
        FROM events e
            INNER JOIN event_details ed ON e.id = ed.id
        WHERE e.id = #{id}
    </select>

    <!-- 이벤트 생성 -->
    <insert id="insertEvent" parameterType="com.eventty.businessservice.domain.entity.EventEntity">
        INSERT INTO events (id, host_id, title, image, event_start_at, event_end_at, participate_num, location, category, is_active, is_deleted)
        VALUES (#{id}, #{hostId}, #{title}, #{image}, #{eventStartAt}, #{eventEndAt}, #{participateNum}, #{location}, #{category}, #{isActive}, #{isDeleted})
    </insert>

</mapper>