<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eventty.businessservice.domains.event.domain.EventRepository">

    <resultMap id="EventResultMap" type="com.eventty.businessservice.domains.event.domain.EventEntity">
        <id property="id" column="id"/>
        <result property="hostId" column="host_id"/>
        <result property="title" column="title"/>
        <result property="image" column="image"/>
        <result property="eventStartAt" column="event_start_at"/>
        <result property="eventEndAt" column="event_end_at"/>
        <result property="participateNum" column="participate_num"/>
        <result property="location" column="location"/>
        <result property="category" column="category"/>
        <result property="isActive" column="is_active"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>

    <select id="selectEventById" resultMap="EventResultMap" parameterType="java.lang.Long">
        SELECT * FROM events WHERE ID = #{id}
    </select>

    <select id="selectAllEvents" resultMap="EventResultMap" parameterType="java.lang.Long">
        SELECT * FROM events
    </select>

</mapper>